.login{
    width: 26%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(138, 137, 137, 0.7), rgba(119, 90, 90, 0.7));
    margin-left: 36%;
    margin-top: 7%;
}  

.textWhite{
    color: white;
    font-size: 2.5rem;
    margin-top: 2.6rem;
    font-weight: 100;
}

.formData{
    width: 280px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    gap:0.6rem;
}

.email{
    height: 2rem;
}

.password{
    height: 2rem;
}

.buttonName{
    height: 2rem;
    background-color: #ca3b47;
}

.checkboxText{
    color: white;
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-left: 0.4rem;
    margin-bottom: 1rem;
}

.subContainer2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.5rem;
    margin-top: 3rem;
}

.textWord{
    color:#c53e4a;
    font-size: 1rem;
    margin-left: 3rem;
}

.signup{
    color: white;
    font-size: 0.8rem;
}