 .container{
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7)), url("../../assets/netflix_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    height: 100vh;
}

  
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    /* border: 1px solid rgb(251, 241, 241); */
    margin-top: 20px;
    /* width: 100%; */
    /* height: 13vh; */
    /* box-shadow: 0 0 10px rgb(247, 248, 248); */
    /* position: sticky; */
    /* top: 0; */
    /* z-index: 100; */
    /* background-color: black; */
}

.header_logo{
    /* margin-top: 18px; */
    height: 68px;
    width: 150px;
    /* padding: 2 1rem; */
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    margin-left: 190px;
}


.lang_name{
    width: 8rem;
    height: 2rem;
    margin-left: 38%;
    color: #fffbfb;
    font-size: 1rem;
    text-align: center;
    border-color: rgb(223, 219, 219);
    background-color: #00000000;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.user{
    width: 5.5rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 5px;
    margin-right: 14%;
    color: #fff0f0;
    border-color: rgb(245, 235, 235);
    background-color: #e50914;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.gap{
    margin-top: 3rem;
    /* g */
}

/*.header .headerName{
    height: 90px;
    width: 180px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: black;
}*/
