
.mainContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
  
  .movieItem {
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(45deg, #d7eaec, #3b0a63);
  }
  
  .movieItem:hover {
    transform: scale(1.05);
  }
  .image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .title {
    margin: 0.5rem 0;
  }
  
  .rating {
    font-weight: bold;
    color: #ff9800; /* Adjust color as needed */
  }
  
  .releaseDate {
    font-weight: bold;
    color: #9b1c94;
  }
  